.h-elem {
    height: 0;
    padding: 0;
    visibility: hidden;
    opacity: 0;
}

.s-elem {
    visibility: visible;
    transition: opacity 0.3s linear;
    height: auto;
    padding: .5em;
}

fieldset {
    text-align: justify;
}

.theme-tap {
    position: fixed;
    right: calc(var(--spacing)/ 2 + var(--scrollbar-width, 0px));
    bottom: var(--spacing);
    width: auto;
    margin-bottom: 0;
    padding: .75rem;
    border-radius: 2rem;
    box-shadow: var(--card-box-shadow);
    line-height: 1;
    text-align: right;
}


.retour-tap {
    position: fixed;
    left: calc(var(--spacing)/ 2 + var(--scrollbar-width, 0px));
    top: var(--spacing);
    width: auto;
    margin-top: 0;
    padding: .75rem;
    border-radius: 2rem;
    box-shadow: var(--card-box-shadow);
    line-height: 1;
    text-align: right;
}