
.h-elem {
    height: 0;
    padding: 0;
    visibility: hidden;
    opacity: 0;
}

.s-elem {
    visibility: visible;
    transition: opacity 0.3s linear;
    height: auto;
    padding: .5em;
}

fieldset {
    text-align: justify;
}